.text-input {
    -fx-text-fill: white;    
    -fx-prompt-text-fill: #E2E2E2;
}
.text-input:focused {
    -fx-highlight-text-fill: white;
}

.text-input:empty .text {
    -fx-text-fill: #E2E2E2;
}
.progress-indicator .percentage {
    -fx-fill:  #d84315 ;
}

.progress-bar {
	-fx-background-color:  #34383F;
	-fx-accent:  #d84315;
}
.progress-bar > .track {
	-fx-background-color:  #34383F;
}